 <main>
   <section class="container">
     <div class="row vh-100">
       <div class="col-12 my-auto">
         <div class="row text-center">
           <div class="col-lg-4 mb-4">
             <div class="card h-100">
               <div class="card-body d-flex flex-column justify-content-center align-items-center">
                 <h1 class="display-2 text-primary"><span class="ion-ios-chatboxes"></span></h1>
                 <h4 class="card-title text-primary">GPT-2 for all Languages</h4>
                 <p class="card-text">Follow the learning of all languages live. GPT-2 is showing it's progress on all languages and auto-generating text</p>
                 <a href="progress" class="btn btn-primary mt-auto">Follow progress</a>
                 <a href="progress" class="btn btn-primary mt-auto">Follow progress in details</a>
               </div>
             </div>
           </div>
           <div class="col-lg-4 mb-4">
             <div class="card h-100">
               <div class="card-body d-flex flex-column justify-content-center align-items-center">
                 <h1 class="display-2 text-primary"><span class="ion ion-ios-podium"></span></h1>
                 <h4 class="card-title text-primary">GPU benchmarks</h4>
                 <p class="card-text">Coming soon ...</p>
                 <a href="#" class="btn btn-primary mt-auto" style="background-color: grey" disabled>Coming soon</a>
               </div>
             </div>
           </div>
           <div class="col-lg-4 mb-4">
             <div class="card h-100">
               <div class="card-body d-flex flex-column justify-content-center align-items-center">
                 <h1 class="display-2 text-primary"><span class="ion ion-ios-cloud-download"></span></h1>
                 <h4 class="card-title text-primary">All Language Models</h4>
                 <p class="card-text">We will provide all language trained models with GPT-2 in all Parameters combination.</p>
                 <a href="#" class="btn btn-primary mt-auto" style="background-color: grey">Coming soon</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>

 </main>
