{% include "header.html" %} 
  <body data-spy="scroll" data-target="#navbar1" data-offset="60">
    <header class="bg-primary">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12">
                    <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                        <h1 class="display-4">A.I. Experiments</h1>
                        <p class="lead">A.I Experiments.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
        <div class="container">
        </div>
    </nav> 
 {% include "main.html" %}
{% include "footer.html" %}
